{% extends 'core/change_form.html' %}
{% load static %}
{% load widget_tweaks %}
{% load admin_extras %}
{% load misc_filters %}
{% load crispy_forms_tags %}
{% load i18n %}

{% comment %} <input type="number" name="year" value="2025" min="0" class="numberinput" id="id_year"> {% endcomment %}
{% block page_content %}
    <form id="{{ opts.model_name }}-form" action="" method="post" enctype="multipart/form-data" autocomplete="off">
        {% comment %} {{ form.media }} {% endcomment %}
        {% include "core/partials/form_hidden_fields.html" %}

        <div class="ibox float-e-margins">
            {% include "core/partials/ibox_title.html" with ibox_title="Review Category Details" icon_class="fas fa-info-circle" only %}
            <div class="ibox-content">

                <div class="row">
                    <div class="col-sm-6 mt-2">
                        {{ form.year|as_crispy_field }}
                    </div>
                </div>
            </div>
            <!-- /ibox-content -->
        </div>
        <!-- /ibox -->
        {% include "core/partials/form_footer.html" %}
    </form>

{% endblock %}


{% block js %}
    {{ block.super }}

{% endblock %}