{% extends "base/base.html" %}
{% load static %}

{% block content %}




<div id="wrapper" class="wrapper home-wrapper">

  <section class="general-form-section sign-in-form-section">
    <div class="general-form-inner">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-12 col-lg-12 col-md-12">

            <div class="top-general-form-area">
              <div class="general-form-box-header general-back-header">

                <div class="back-to-home-div">
                  <div class="title-inner-row">
                    <a href="{% url 'frontend:home-page' %}" class="btn btn-link link-back"><i
                        class="fe fe-arrow-left icon-custom"></i>
                      <h3 class="h3-title">Back to&nbsp;<span class="font-bold">Home page</span></h3>
                    </a>
                  </div>
                </div>

                <div class="logo-box-div">
                  <a href="{% url 'frontend:login' %}"><img src="{% static 'images/logo.svg' %}"
                      class="img-fluid img-logo-v" alt="logo" /></a>
                </div>

              </div>

              <div class="general-form-box-card">

                <div align="center">
                
                {% for k, message in form.errors.items %}
    
                <div class="alert alert-info alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <b>    {{ message }}
                    </b>
                </div>
                {% endfor %}
               
        </div>

                <div class="general-form-control">
                  <div class="general-form-title-header">
                    <h2> Create a new password</h2>
                  </div>
                  <div class="form-root-main">
                    <form class="form-root" method="POST" >

                      {% csrf_token %}

                      <div class="row mlr-8">

                        <div class="col-xl-12 col-lg-12 col-md-12 plr-8">
                          <div class="form-group input-box-effect form-group-icon">
                            <label class="input-box-label">
                              <input type="password" id="password01" class="form-input" placeholder="&nbsp;"
                                name="new_password1" required>
                              <span class="label-text">New Password</span>
                              <span class="border"></span>
                            </label>
                            <span class="icon-group">
                              <button type="button" id="show_password01" name="show_password"
                                class="pass-hide password-view-click">
                                <span class="custom-icon eye-off-icon"></span>
                              </button>
                            </span>
                          </div>
                        </div>

                        <div class="col-xl-12 col-lg-12 col-md-12 plr-8">
                          <div class="form-group input-box-effect form-group-icon">
                            <label class="input-box-label">
                              <input type="password" id="password02" class="form-input" placeholder="&nbsp;"
                                name="new_password2" required>
                              <span class="label-text">Confirm Password</span>
                              <span class="border"></span>
                            </label>
                            <span class="icon-group">
                              <button type="button" id="show_password02" name="show_password"
                                class="pass-hide password-view-click">
                                <span class="custom-icon eye-off-icon"></span>
                              </button>
                            </span>
                          </div>
                        </div>


                        
                        <div class="col-xl-12 col-lg-12 col-md-12 plr-8">
                          <div class="general-form-btn">
                            <button type="submit" class="btn btn-block btn-common btn-login">Submit</button>
                          </div>
                        </div>
                      </div>

                    </form>
                  </div>
                </div>
              </div>
            </div>

           

          </div>
        </div>
      </div>
    </div>
  </section><!--  end of banner  -->

</div><!-- end of wrapper -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<script>


  $(document).ready(function () {

    $('#show_password01').on('click', function () {
      var passwordField2 = $('#password01');
      var passwordFieldType2 = passwordField2.attr('type');

      if (passwordField2.val() != '') {
        if (passwordFieldType2 == 'password') {
          passwordField2.attr('type', 'html');
          $(this).html('<span class="custom-icon eye-icon password-hide"></span>');
        }
        else {
          passwordField2.attr('type', 'password');
          $(this).html('<span class="custom-icon eye-off-icon password-view"></span>');
        }
      }
    });

  });

  $(document).ready(function () {

$('#show_password02').on('click', function () {
  var passwordField2 = $('#password02');
  var passwordFieldType2 = passwordField2.attr('type');

  if (passwordField2.val() != '') {
    if (passwordFieldType2 == 'password') {
      passwordField2.attr('type', 'html');
      $(this).html('<span class="custom-icon eye-icon password-hide"></span>');
    }
    else {
      passwordField2.attr('type', 'password');
      $(this).html('<span class="custom-icon eye-off-icon password-view"></span>');
    }
  }
});

});

</script>



<script>
    $(document).ready(function () {
        window.setTimeout(function () {
            $(".alert").fadeTo(4000, 0).slideUp(200, function () {
                $(this).remove();
            });
        });
    }, 5000);
</script>
{% endblock %}