{% extends 'frontend/subpages/base.html'%}
{% load static %}
{% load review_card %}
{% block title %}
Electric Bike Reviews | ElectricBikeReview.com
{% endblock %}

 {% block seoTag %}
    <meta name="theme-color" content="#80b600">
	<meta name="apple-mobile-web-app-status-bar-style" content="#80b600">
	<meta name="msapplication-navbutton-color" content="#80b600">
    <meta property='og:url' content='https://electricbikereview.com/' />
    <meta property="fb:app_id" content="462030500496873" />

    <meta property="og:locale" content="en_us" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Electric Bike Reviews | ElectricBikeReview.com" />
    <meta property="og:description" content="Prices, Specs, Videos, Photos" />
    <meta property="og:site_name" content="ElectricBikeReview.com" />
    <meta property="og:image" content="http://54.213.76.238/static/assets/images/EBRlogo.png" />
	<meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="Prices, Specs, Videos, Photos" />
    <meta name="twitter:title" content="Electric Bike Reviews | ElectricBikeReview.com" />
    <meta name="twitter:image" content="http://54.213.76.238/static/assets/images/EBRlogo.png" />
    <meta name="twitter:site" content="@ebikereview" />
{% endblock %}

{% block body %}

        <section class="middle_area">
            <div class="filter-selected-options">
                {% for category in category %}
                <button class="btn filter-selected-databtn">
                    <a href="" class="remove-category-cross" data-id="{{category.id}}"><img src="{% static '/assets/images/cross.png' %}" alt="cross" /></a>
                    <span>{{category.name}}</span>
                </button>
                {% endfor %}
                {% comment %} {% if category %}
                    <p class="search-res-text">{{total_reviews}} Results:</p>
                {% endif %} {% endcomment %}

                {% for tags in filtered_tags %}
                <button class="btn filter-selected-databtn" title="{% for key, value in tags.items %} {{key|search_tags_name}} {% endfor %}">
                    <a href="javascript:;" class="remove-category-cross search-filter-tags" data-value = "{% for key, value in tags.items %}{{value}}{% endfor %}" data-key="{% for key, value in tags.items %}{{key}}{% endfor %}"><img src="{% static '/assets/images/cross.png' %}" alt="cross" /></a>
                    <span>{% for key, value in tags.items %} {{value}} {% endfor %}</span>
                </button>
                {% endfor %}

                {% if page_details.min_weight %}
                <button class="btn filter-selected-databtn">
                    <a href="javascript:;" class="remove-category-cross page-filtered-data" data-tag="min_weight" data-value="{{page_details.min_weight}}"><img src="{% static '/assets/images/cross.png' %}" alt="cross" /></a>
                    <span>{{page_details.min_weight}}</span>
                </button>
                {% endif %}
                {% comment %} {% if category %}
                    <p class="search-res-text">{{total_reviews}} Results:</p>
                {% endif %} {% endcomment %}
                <p class="search-res-text">{{total_reviews}} Results:</p>
            </div>
            <div class="main-content">
                <div class="row m-0">
                    <div class="col-lg-8 col-xl-9 col-md-6 col-sm-6 p-0">
                        <div class="left-side-content">
                            <div class="product-card-wrapper" id="product-card">


                                {% for categories in featured_reviews %}
                                <div class="product-card-item">
                                    <a href="/{{categories.brands.first.slug}}/{{categories.slug}}/"><img
                                            src="https://ebr-dev-bucket.s3.amazonaws.com/{{ categories.featured_image_thumbnail }}"
                                            class="pro-card-img" alt="{{categories.name}}" /></a>
                                    <button class="btn compare-btn {% if categories.id in compare_review %} added {% endif %}" data-id="{{categories.id}}">
                                        <img src="{% static '/assets/images/plus.png' %}" alt="plus" />
                                    </button>
                                    <div class="product-desc">
                                        <h4 class="product-title" title="{{categories.name}}"><a href="/{{categories.brands.first.slug}}/{{categories.slug}}/">{{categories.name}}</a></h4>
                                        {% for brand in categories.brands.all %}
                                        <p class="desc_1">
                                            <a href="/brand/{{brand.slug}}">{{brand.name}}</a>
                                        </p>
                                        {% endfor %}
                                        <div class="data-price">
                                            <div class="procard-lastdata">
                                                {% for category in categories.categories.all %}
                                                <p class="desc_1">
                                                    <a href="/category/{{category.slug}}">{{category.name}}</a>
                                                </p>
                                                {% endfor %}
                                            </div>
                                            {% for price in categories.review_general_review.all %}
                                            <p class="product-price">${{price.msrp}}</p>
                                            {% endfor %}
                                        </div>
                                        <p class="product-status-text">Promoted</p>
                                    </div>
                                </div>
                                {% endfor %}


                                {% if search_reviews %}
                                    {% for review in reviews %}
                                        <div class="product-card-item">
                                            <a href="/{{review.brands.first.slug}}/{{review.slug}}/"><img
                                                    src="https://ebr-dev-bucket.s3.amazonaws.com/{{ review.featured_image_thumbnail }}"
                                                    class="pro-card-img" alt="{{review.name}}" /></a>
                                            <button class="btn compare-btn {% if review.id in compare_review %} added {% endif %}" data-id="{{review.id}}">
                                                <img src="{% static '/assets/images/plus.png' %}" alt="plus" />
                                            </button>
                                            <div class="product-desc">
                                                <h4 class="product-title" title="{{review.name}}"><a href="/{{review.brands.first.slug}}/{{review.slug}}/">{{review.name}}</a></h4>
                                                {% for brand in review.brands.all %}
                                                <p class="desc_1">
                                                    <a href="/brand/{{brand.slug}}">{{brand.name}}</a>
                                                </p>
                                                {% endfor %}
                                                <div class="data-price">
                                                    <div class="procard-lastdata">
                                                        {% for category in review.categories.all %}
                                                        <p class="desc_1">
                                                            <a href="/category/{{category.slug}}">{{category.name}}</a>
                                                        </p>
                                                        {% endfor %}
                                                    </div>
                                                    {% for price in review.review_general_review.all %}
                                                    <p class="product-price">${{price.msrp}}</p>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}


                                {% if category_reviews %}
                                    {% for categories in reviews %}
                                        <div class="product-card-item">
                                            <a href="/{{categories.brands.first.slug}}/{{categories.slug}}/"><img
                                                    src="https://ebr-dev-bucket.s3.amazonaws.com/{{ categories.featured_image_thumbnail }}"
                                                    class="pro-card-img" alt="{{categories.name}}" /></a>
                                            <button class="btn compare-btn {% if categories.id in compare_review %} added {% endif %}" data-id="{{categories.id}}">
                                                <img src="{% static '/assets/images/plus.png' %}" alt="plus" />
                                            </button>
                                            <div class="product-desc">
                                                <h4 class="product-title" title="{{categories.name}}"><a href="/{{categories.brands.first.slug}}/{{categories.slug}}/">{{categories.name}}</a></h4>
                                                {% for brand in categories.brands.all %}
                                                <p class="desc_1">
                                                    <a href="/brand/{{brand.slug}}">{{brand.name}}</a>
                                                </p>
                                                {% endfor %}
                                                <div class="data-price">
                                                    <div class="procard-lastdata">
                                                        {% for category in categories.categories.all %}
                                                        <p class="desc_1">
                                                            <a href="/category/{{category.slug}}">{{category.name}}</a>
                                                        </p>
                                                        {% endfor %}
                                                    </div>
                                                    {% for price in categories.review_general_review.all %}
                                                    <p class="product-price">${{price.msrp}}</p>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>


                           {% if pages|length > 1 %}
                                <ul class="pagination justify-content-center pagination-sm" id="pagination">
                            {% if reviews.has_previous %}
                            <span class="btn page text-primary"><a href="?{% url_replace request 'page' reviews.previous_page_number %}"><b>&laquo; Prev</b></a></span>
                            {% endif %}

                            {% if reviews.number == 1 %}
                                {% if reviews.paginator.num_pages <= 5 %}
                                    {% for page in pages %}
                                        {% if  page == reviews.number %}
                                            <span class="btn page text-dark"><b>{{ page }}</b></span>
                                        {% elif reviews.number != reviews.paginator.num_pages %}
                                            <span class="btn page text-dark"><a href="?{% url_replace request 'page' page %}"><b>{{ page }}</b></a></span>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                <span class="btn page text-dark"><b>{{ reviews.number }}</b></span>
                                <span class="btn page text-dark"><a href="?{% url_replace request 'page' reviews.number|add:'1' %}"><b>{{ reviews.number|add:"1" }}</b></a></span>
                                <span class="btn page text-dark"><a href="?{% url_replace request 'page' reviews.number|add:'2' %}"><b>{{ reviews.number|add:"2" }}</b></a></span>
                                <span class="btn page text-dark"><a href="?{% url_replace request 'page' reviews.number|add:'2' %}"><b>{{ reviews.number|add:"3" }}</b></a></span>
                                <span class="btn page text-dark"><a href="#" onclick="return false;"><b>...</b></a></span>
                                <span class="btn page text-dark"><a href="?{% url_replace request 'page' reviews.paginator.num_pages %}"><b>{{ reviews.paginator.num_pages }}</b></a></span>
                                {% endif %}
                            {% elif reviews.number > 1 and reviews.number < 4 %}
                                {% if reviews.paginator.num_pages <= 5 %}
                                    {% for page in pages %}
                                        {% if  page == reviews.number %}
                                            <span class="btn page text-dark"><b>{{ page }}</b></span>
                                        {% else %}
                                            <span class="btn page text-dark"><a href="?{% url_replace request 'page' page %}"><b>{{ page }}</b></a></span>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <span class="btn page text-dark"><a href="?{% url_replace request 'page' 1 %}"><b>1</b></a></span>
                                    {% for page in pages %}
                                        {% if page >= 2 and page <= 4 %}
                                            {% if  page == reviews.number %}
                                                <span class="btn page text-dark"><b>{{ page }}</b></span>
                                            {% else %}
                                                <span class="btn page text-dark"><a href="?{% url_replace request 'page' page %}"><b>{{ page }}</b></a></span>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    <span class="btn page text-dark"><a href="#" onclick="return false;"><b>...</b></a></span>
                                    <span class="btn page text-dark"><a href="?{% url_replace request 'page' reviews.paginator.num_pages %}"><b>{{ reviews.paginator.num_pages }}</b></a></span>
                                {% endif %}
                            {% elif reviews.number >= 4 and reviews.number <= reviews.paginator.num_pages|add:'-3' %}
                                <span class="btn page text-dark"><a href="?{% url_replace request 'page' 1 %}"><b>1</b></a></span>
                                <span class="btn page text-dark"><a href="#" onclick="return false;"><b>...</b></a></span>
                                    {% for page in pages %}
                                        {% if reviews.number >= 4 and reviews.number <= reviews.paginator.num_pages|add:'-3' %}
                                            {% if page == reviews.number %}
                                                <span class="btn page text-primary"><a href="?{% url_replace request 'page' reviews.previous_page_number %}"><b>{{ reviews.previous_page_number }}</b></a></span>
                                                <span class="btn page text-dark"><b>{{ page }}</b></span>
                                                <span class="btn page text-dark"><a href="?{% url_replace request 'page' reviews.next_page_number %}"><b>{{ reviews.next_page_number }}</b></a></span>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    <span class="btn page text-dark"><a href="#" onclick="return false;"><b>...</b></a></span>
                                    <span class="btn page text-dark"><a href="?{% url_replace request 'page' reviews.paginator.num_pages %}"><b>{{ reviews.paginator.num_pages }}</b></a></span>
                            {% elif reviews.number > reviews.paginator.num_pages|add:'-3' and reviews.number < reviews.paginator.num_pages %}
                                {% if reviews.paginator.num_pages <= 5 %}
                                    {% for page in pages %}
                                        {% if  page == reviews.number %}
                                            <span class="btn page text-dark"><b>{{ page }}</b></span>
                                        {% elif reviews.number != reviews.paginator.num_pages %}
                                            <span class="btn page text-dark"><a href="?{% url_replace request 'page' page %}"><b>{{ page }}</b></a></span>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <span class="btn page text-dark"><a href="?{% url_replace request 'page' 1 %}"><b>1</b></a></span>
                                    <span class="btn page text-dark"><a href="#" onclick="return false;"><b>...</b></a></span>
                                    {% for page in pages %}
                                        {% if page >= reviews.paginator.num_pages|add:'-3' and reviews.number < reviews.paginator.num_pages %}
                                            {% if  page == reviews.number %}
                                                <span class="btn page text-dark"><b>{{ page }}</b></span>
                                            {% else %}
                                                <span class="btn page text-dark"><a href="?{% url_replace request 'page' page %}"><b>{{ page }}</b></a></span>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% elif reviews.number == reviews.paginator.num_pages %}
                                {% if reviews.paginator.num_pages <= 5 %}
                                    {% for page in pages %}
                                        {% if  page == reviews.number %}
                                            <span class="btn page text-dark"><b>{{ page }}</b></span>
                                        {% else %}
                                            <span class="btn page text-dark"><a href="?{% url_replace request 'page' page %}"><b>{{ page }}</b></a></span>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <span class="btn page text-dark"><a href="?{% url_replace request 'page' 1 %}"><b>1</b></a></span>
                                    <span class="btn page text-dark"><a href="#" onclick="return false;"><b>...</b></a></span>
                                    <span class="btn page text-dark"><a href="?{% url_replace request 'page' reviews.paginator.num_pages|add:'-3' %}"><b>{{ reviews.paginator.num_pages|add:'-3' }}</b></a></span>
                                    <span class="btn page text-dark"><a href="?{% url_replace request 'page' reviews.paginator.num_pages|add:'-2' %}"><b>{{ reviews.paginator.num_pages|add:'-2' }}</b></a></span>
                                    <span class="btn page text-dark"><a href="?{% url_replace request 'page' reviews.paginator.num_pages|add:'-1' %}"><b>{{ reviews.paginator.num_pages|add:'-1' }}</b></a></span>
                                    <span class="btn page text-dark"><b>{{ reviews.paginator.num_pages }}</b></span>
                                {% endif %}
                            {% endif %}

                            {% if reviews.has_next %}
                            <span class="btn page text-primary"><a href="?{% url_replace request 'page' reviews.next_page_number %}"><b>Next &raquo;</b></a></span>
                            <!-- <span class="btn page text-primary"><a href="?categories={{url}}&page={{ reviews.next_page_number }}"><b>Next &raquo;</b></a></span> -->
                            {% endif %}
                        </ul>
                            {% endif %}
                        </div>
                    </div>
                    {% include 'frontend/include/discussion.html' %}
                </div>
            </div>
        </section>

{% endblock %}

{% block script %}

{% endblock %}